language: java
jdk:
  - oraclejdk8
env:
  - NODE_VERSION=6.6
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - nvm install $NODE_VERSION
  - npm install
script:
  - nvm use $NODE_VERSION
  - npm run unit